/* Declaring Custom Fonts */
@font-face {
  font-family: "Dharma Gothic E";
  font-style: normal;
  font-weight: normal;
  /* src: url("/assets/fonts/DharmaGothicE_Heavy_R.otf") format("opentype"); */
  src: url("/assets/fonts/FormulaCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("/assets/fonts/ppneuemontreal-book.woff") format("woff");
}

/* General Styling */
* {
  scroll-behavior: smooth;
}

/* Header Section */
.header {
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.header.active {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 4px;
  padding-bottom: 4px;
}

.header ul li a {
  transition: all 0.5s ease;
}

.header.active ul li a {
  color: #000;
}

/* Hamburger */
.hamburger-bar-1.translate {
  transform: translateY(0px) !important;
  transition: 0.3s ease;
}

.hamburger-bar-2.translate {
  transform: translateY(0px) !important;
  transition: 0.3s ease;
}

.hamburger-bar-1.reduce {
  width: 0%;
  transition: 0.3s ease;
  align-self: flex-start;
}
.hamburger-bar-2.reduce {
  width: 0%;
  transition: 0.3s ease;
  align-self: flex-end;
}

.hamburger-bar-1.raise {
  transform: translateY(-14px) translateX(14px) rotate(-48deg);
  transition: 0s;
  width: 0;
}

.hamburger-bar-2.raise {
  transform: translateY(-14px) translateX(-14px) rotate(48deg);
  transition: 0s;
  width: 0;
}

.hamburger-bar-1.rotate {
  transform: translateY(4px) rotate(0deg);
  width: 70%;
}

.hamburger-bar-2.rotate {
  transform: translateY(-4px) rotate(0deg);
  width: 70%;
}

.hamburger-bar-1.draw-bar {
  transform: translateY(4px) rotate(-48deg);
  width: 70%;
  transition: 0.4s ease;
  transition-delay: 0.15s;
  align-self: initial;
}

.hamburger-bar-2.draw-bar {
  transform: translateY(-4px) rotate(48deg);
  transition: 0.4s ease;
  width: 70%;
  align-self: initial;
}

.mobile-nav.active {
  left: 0;
}

/* Hero Section */
.background .video {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  will-change: opacity;
}

.hero-text-1 {
  animation: fade-up 1s ease-in-out;
  animation-fill-mode: backwards;
}

.hero-text-2 {
  animation: fade-up 1s 0.3s ease-in-out;
  animation-fill-mode: backwards;
}

.hero-text-3 {
  animation: fade-up 1s 0.6s ease-in-out;
  animation-fill-mode: backwards;
}

/* Mission Section */
.founder-image {
  aspect-ratio: 9/10;
  object-fit: cover;
  -o-object-fit: cover;
}

/* Program Section */
.program-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media screen and (min-width: 640px) {
  .program-container {
    margin-left: calc((100vw - 640px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .program-container {
    margin-left: calc((100vw - 768px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .program-container {
    margin-left: calc((100vw - 1024px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .program-container {
    margin-left: calc((100vw - 1280px) / 2);
  }
}

@media screen and (min-width: 1536px) {
  .program-container {
    margin-left: calc((100vw - 1536px) / 2);
  }
}

.overlay-image-1 {
  background: url("/assets/images/overlay.png") no-repeat center center;
  background-size: cover;
}

.overlay-image-2 {
  background: url("/assets/images/program-4.png") no-repeat center center;
  background-size: cover;
}

.overlay-1.show {
  pointer-events: auto;
  transform: translateX(0%);
}

.overlay-1.show .overlay-box-1 {
  pointer-events: auto;
  transform: scale(1);
}

.overlay-1 .overlay-box-1 {
  transform: scale(0);
}

.overlay-2.show {
  pointer-events: auto;
  transform: translateX(0%);
}

.overlay-2.show .overlay-box-2 {
  pointer-events: auto;
  transform: scale(1);
}

.overlay-2 .overlay-box-2 {
  transform: scale(0);
}

/* Testimonial Section */
.testimonial {
  animation: fade-in 1.5s;
}

/* Gallery Section */
.gallery-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.gallery-image {
  height: 300;
  aspect-ratio: 16/9;
  object-fit: cover;
  -o-object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery-image {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-image {
    height: 500px;
  }
}

/* Transitions */
.transition-normal {
  transition: all 0.3s ease;
}

.transition-slow {
  transition: all 0.5s ease-in-out;
}

/* Animations */

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-in-out;
}

.fade-up.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Animations Keyframes */
@keyframes fade-in {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* @media (pointer: coarse) {
  .drag-button {
    background-color: red;
  }
} */
