@font-face {
  font-family: "Dharma Gothic E";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/DharmaGothicE_Heavy_R.otf") format("opentype");
}

@font-face {
  font-family: "Formula Condensed Light";
  font-style: normal;
  font-weight: normal;
  src: local("Formula Condensed Light"),
    url("/assets/fonts/FormulaCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "Formula Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Formula Condensed Bold"),
    url("/assets/fonts/FormulaCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("/assets/fonts/ppneuemontreal-book.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Italic"),
    url("/assets/fonts/ppneuemontreal-italic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Thin"),
    url("/assets/fonts/ppneuemontreal-thin.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Medium"),
    url("/assets/fonts/ppneuemontreal-medium.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal SemiBold italic"),
    url("/assets/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  src: local("PP Neue Montreal Bold"),
    url("/assets/fonts/ppneuemontreal-bold.woff") format("woff");
}

/* .hero {
  background: url("/assets/images/hero.png") no-repeat center center;
  background-size: cover;
} */

.header {
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.header.active {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 4px;
  padding-bottom: 4px;
}

.header ul li a {
  transition: all 0.5s ease;
}

.header.active ul li a {
  color: #000;
}

* {
  scroll-behavior: smooth;
}

.program-container::-webkit-scrollbar,
.gallery-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.testimonial {
  animation: fade-in 1.5s;
}

.hero-text {
  opacity: 0;
}

.hero-text-1 {
  animation: fade-up 1s ease-in-out;
}

.hero-text-2 {
  animation: fade-up 1s 0.3s ease-in-out;
}

.hero-text-3 {
  animation: fade-up 1s 0.6s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* @media (pointer: coarse) {
  .slide-button {
    background-color: red;
  }
} */

@media screen and (min-width: 640px) {
  .program-container {
    margin-left: calc((100vw - 640px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .program-container {
    margin-left: calc((100vw - 768px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .program-container {
    margin-left: calc((100vw - 1024px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .program-container {
    margin-left: calc((100vw - 1280px) / 2);
  }
}

@media screen and (min-width: 1536px) {
  .program-container {
    margin-left: calc((100vw - 1536px) / 2);
  }
}

.transition-normal {
  transition: all 0.3s ease;
}

.gallery-image {
  height: 500px;
  aspect-ratio: 16/9;
  object-fit: cover;
  -o-object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .gallery-image {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .gallery-image {
    height: 300px;
  }
}
#background {
  background-color: #0f0f0f;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -2;
}

video {
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  will-change: opacity;
}

.hamburger-bar-1.translate {
  transform: translateY(0px) !important;
  transition: 0.3s ease;
}

.hamburger-bar-2.translate {
  transform: translateY(0px) !important;
  transition: 0.3s ease;
}

.hamburger-bar-1.reduce {
  width: 0%;
  transition: 0.3s ease;
  align-self: flex-start;
}
.hamburger-bar-2.reduce {
  width: 0%;
  transition: 0.3s ease;
  align-self: flex-end;
}

.hamburger-bar-1.raise {
  transform: translateY(-14px) translateX(14px) rotate(-48deg);
  transition: 0s;
  width: 0;
}

.hamburger-bar-2.raise {
  transform: translateY(-14px) translateX(-14px) rotate(48deg);
  transition: 0s;
  width: 0;
}

.hamburger-bar-1.rotate {
  transform: translateY(4px) rotate(0deg);
  width: 70%;
}

.hamburger-bar-2.rotate {
  transform: translateY(-4px) rotate(0deg);
  width: 70%;
}

.hamburger-bar-1.draw-bar {
  transform: translateY(4px) rotate(-48deg);
  width: 70%;
  transition: 0.4s ease;
  transition-delay: 0.15s;
  align-self: initial;
}

.hamburger-bar-2.draw-bar {
  transform: translateY(-4px) rotate(48deg);
  transition: 0.4s ease;
  width: 70%;
  align-self: initial;
}

.mobile-nav.active {
  left: 0;
}
